.homeContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 4px;
}

.letterPageContainer {
  display: flex;
  gap: 1rem;
  height: calc(100vh - 60px);
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-x: hidden;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: lightgray;
}
.fullWidthColumn {
  flex: 0 0 100%;
  /* text-align: center; */
}

.halfWidthColumn {
  flex: 0 0 50%;
  /* border-right: 1px solid #ddd; */
  /* padding-right: 1rem; */
  /* overflow: auto; */
}
.left40Column {
  flex: 0 0 40%;
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  overflow: auto;
}

.right60Column {
  flex: 0 0 60%;
  padding-left: 0.5rem;
  overflow: auto;
}

.pageTitleHeader {
  text-align: left;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 4px;
}

.letterListContainer {
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  margin-top: 8px;
}

.letterListItemContainer {
  border: 1px solid #ddd;
  padding: 4px;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

/* Add dynamic styling via JavaScript */
.letterListItemContainer.selected {
  background-color: #f3f3f3;
}

.letterSubjectHeading {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
}
.letterBodyContainer {
  flex-grow: 1; /* Makes it take up available space */
  overflow-y: auto; /* Enables vertical scrolling */
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  padding: 8px;
  border-radius: 4px;
}

/* .letterBodyContainer {
  padding: 16px;
  background: white;
} */

.bodyText {
  font-size: small;
}

.noLetterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}

.imageIllustration {
  width: 300px;
  margin-top: 20px;
}
.customSearchTextInput input {
  border-radius: 16px;
  outline: none !important; /* Remove default focus outline */
  box-shadow: none !important; /* Remove Carbon's blue focus ring */
  border: 1px solid #ccc; /* Optional: Adjust border */
}

.customSearchTextInput input:focus {
  border: 1px solid #888; /* Optional: Custom border on focus */
  box-shadow: none !important;
}

.letterContainer {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 64px); /* Full height */
}

.letterHeader {
  flex-shrink: 0; /* Keep it fixed */
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-top: 4px;
  /* background: #d1c9c9; */
  border-bottom: 1px solid #ccc;
}

.letterHeader p {
  font-size: 14px;
}

.letterFooter {
  flex-shrink: 0; /* Keep it fixed */
  padding: 4px;
  background: #f4f4f4;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.replyContainer {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.replyActions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.replyTextArea {
  max-height: 230px;
  min-height: 200px;
  overflow: auto;
  /* resize: vertical; */
  margin-bottom: 8px;
}

.threadListItemContainer {
  border: 1px solid #ddd;
  padding: 4px;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}
